*.class
target/

.project
.classpath
.settings
.metadata
.tern-project
.directory

*.iml
*.ucls
*.idea
*.DS_Store

tmr/maven.txt
tmr/version.txt

pom.xml.versionsBackup

.recommenders
.factorypath

tmr/wildfly-dist
