*.class
target/

.project
.classpath
.settings
.metadata
.tern-project
.directory

*.iml
*.ucls
*.idea
*.DS_Store

pom.xml.versionsBackup

.recommenders
.factorypath

*.code-workspace
